.tooltip-info {
  background-color: $neutral-600 !important;
  color: $neutral-white !important;
  font-family: $font-family !important;
  font-size: 13px !important;
  font-weight: 400;
}

.tooltip-icon {
  color: $neutral-500;
  font-size: 16px;
  font-weight: 300;
}
