@import "./scss/settings/settings";
@import "./scss/components/components";
@import "./scss/layouts/layouts";

* {
  box-sizing: border-box;
}

.echarts-for-react > div:first-of-type {
  display: flex;
  flex-direction: column;
  height: 100% !important;
  width: 100% !important;
}

body > iframe {
  display: none !important;
}
